<!DOCTYPE html>
<html>
<head>
  <title>Flexbox Example</title>
  <!-- <style>
    p {
      color:aquamarine;
    }
  </style> -->
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <header>
    <h1 class="title" id="title" style="color: brown;">Flexbox Example</h1>
  </header>
  <div class="container">
    <div class="column">
      <h2>Column 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel hendrerit nibh, vel dapibus velit. Aliquam sit amet libero dolor. Sed euismod ipsum quis tortor rhoncus, ac imperdiet turpis tempus.</p>
    </div>
    <div class="column">
      <h2>Column 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel hendrerit nibh, vel dapibus velit. Aliquam sit amet libero dolor. Sed euismod ipsum quis tortor rhoncus, ac imperdiet turpis tempus.</p>
    </div>
    <div class="column">
      <h2>Column 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vel hendrerit nibh, vel dapibus velit. Aliquam sit amet libero dolor. Sed euismod ipsum quis tortor rhoncus, ac imperdiet turpis tempus.</p>
    </div>
  </div>
  <footer id="footer">
    <p>&copy; 2023 Flexbox Example</p>
  </footer>
</body>
</html>